@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Roboto+Condensed:400,300,700,700italic|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic,700italic);
// @import url("animate.min.css");
// @import url("../plugins/bootstrap-daterangepicker/daterangepicker.css");
// @import url("fontello.css");
// @import url("../plugins/jquery-nice-select/css/nice-select.css");
// @import url("fileinput.min.css");
// @import url("../plugins/flag-icon-css-master/css/flag-icon.css");
html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #EEEEEE; }
  @media (max-width: 767px) {
    body {
      font-size: 0.75rem; } }

[tabindex="-1"]:focus {
  outline: none !important; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  cursor: help; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
  list-style-type: none; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

a {
  color: #16A085;
  text-decoration: none;
  -webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
     -moz-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
       -o-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
          transition: all 0.2s linear 0s, letter-spacing 0s linear 0s; }
  a:focus, a:hover {
    color: #0d5d4d;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  text-decoration: none; }
  a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle; }

[role="button"] {
  cursor: pointer; }

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation; }

table {
  border-collapse: collapse;
  background-color: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: left; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
textarea {
  line-height: inherit; }

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit; }

input[type="search"] {
  -webkit-appearance: none; }

output {
  display: inline-block; }

[hidden] {
  display: none !important; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

.lead {
  font-size: 1.25rem;
  font-weight: 300; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.1; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.1; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.1; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #ddd; }

.title-1 {
  display: block;
  width: 100%;
  clear: both; }

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 0.5rem 0.75rem;
  font-size: 0.85rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
     -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
       -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #16A085;
    outline: none;
    box-shadow: 1px 0 #16A085, 0 -1px 0 #16A085, -1px 0 0 #16A085, 1px 0 0 #16A085; }
  .form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1; }
  .form-control:-moz-placeholder {
    color: #636c72;
    opacity: 1; }
  .form-control::placeholder {
    color: #636c72;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #eceeef;
    opacity: 1; }
  .form-control:disabled {
    cursor: not-allowed; }

.section-ev::after {
  display: block;
  content: "";
  clear: both; }

html {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  -moz-box-sizing: inherit;
       box-sizing: inherit; }

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html, body {
  height: 100%; }

ul, menu, dir, li, ol {
  list-style-type: none; }

a {
  color: #16A085;
  outline: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
     -moz-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
       -o-transition: all 0.2s linear 0s, letter-spacing 0s linear 0s;
          transition: all 0.2s linear 0s, letter-spacing 0s linear 0s; }
  a:focus, a:hover, a:active {
    outline: none;
    text-decoration: none;
    color: #0d5d4d; }

* {
  outline: 0; }
  *:hover, *:focus {
    outline: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

p {
  padding: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer; }

// ============== Typo ==============




// ============== Main ==============
.bg-intro{
  width: 100%;
  height: 600px;
}

body{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 0.85rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
}

.section-header{
  padding: 40px 0 35px;

    h2{
      font-size: 1.5rem;
      line-height: 1.1;
      padding-bottom: 0;
      margin: 0 auto;
      text-transform: uppercase;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-weight: bold;
      }
    }


// ============== Header - Intro ==============

.logo{
  font-weight: bold;
  font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 28px;
  i{
    font-size: 18px;
    background-color: #16A085;
    text-shadow: 0px 0px #138a72, 1px 1px #138a72, 2px 2px #138a72, 3px 3px #138a72, 4px 4px #138a72, 5px 5px #138a72, 6px 6px #138a72, 7px 7px #138a72, 8px 8px #138a72, 9px 9px #138a72, 10px 10px #138a72, 11px 11px #138a72, 12px 12px #138a72, 13px 13px #138a72, 14px 14px #138a72, 15px 15px #138a72, 16px 16px #138a72, 17px 17px #138a72, 18px 18px #138a72, 19px 19px #138a72, 20px 20px #138a72, 21px 21px #138a72, 22px 22px #138a72, 23px 23px #138a72, 24px 24px #138a72, 25px 25px #138a72, 26px 26px #138a72, 27px 27px #138a72, 28px 28px #138a72, 29px 29px #138a72, 30px 30px #138a72, 31px 31px #138a72, 32px 32px #138a72, 33px 33px #138a72, 34px 34px #138a72, 35px 35px #138a72, 36px 36px #138a72, 37px 37px #138a72, 38px 38px #138a72, 39px 39px #138a72, 40px 40px #138a72, 41px 41px #138a72, 42px 42px #138a72, 43px 43px #138a72, 44px 44px #138a72, 45px 45px #138a72, 46px 46px #138a72, 47px 47px #138a72, 48px 48px #138a72, 49px 49px #138a72, 50px 50px #138a72, 51px 51px #138a72, 52px 52px #138a72, 53px 53px #138a72, 54px 54px #138a72, 55px 55px #138a72, 56px 56px #138a72, 57px 57px #138a72, 58px 58px #138a72, 59px 59px #138a72, 60px 60px #138a72, 61px 61px #138a72, 62px 62px #138a72, 63px 63px #138a72, 64px 64px #138a72, 65px 65px #138a72, 66px 66px #138a72, 67px 67px #138a72, 68px 68px #138a72, 69px 69px #138a72, 70px 70px #138a72, 71px 71px #138a72, 72px 72px #138a72, 73px 73px #138a72, 74px 74px #138a72, 75px 75px #138a72, 76px 76px #138a72, 77px 77px #138a72, 78px 78px #138a72, 79px 79px #138a72, 80px 80px #138a72, 81px 81px #138a72, 82px 82px #138a72, 83px 83px #138a72, 84px 84px #138a72, 85px 85px #138a72, 86px 86px #138a72, 87px 87px #138a72, 88px 88px #138a72, 89px 89px #138a72, 90px 90px #138a72, 91px 91px #138a72, 92px 92px #138a72, 93px 93px #138a72, 94px 94px #138a72, 95px 95px #138a72, 96px 96px #138a72, 97px 97px #138a72, 98px 98px #138a72, 99px 99px #138a72, 100px 100px #138a72, 101px 101px #138a72, 102px 102px #138a72, 103px 103px #138a72, 104px 104px #138a72, 105px 105px #138a72, 106px 106px #138a72, 107px 107px #138a72, 108px 108px #138a72, 109px 109px #138a72, 110px 110px #138a72, 111px 111px #138a72, 112px 112px #138a72, 113px 113px #138a72, 114px 114px #138a72, 115px 115px #138a72, 116px 116px #138a72, 117px 117px #138a72, 118px 118px #138a72, 119px 119px #138a72, 120px 120px #138a72, 121px 121px #138a72, 122px 122px #138a72, 123px 123px #138a72, 124px 124px #138a72, 125px 125px #138a72, 126px 126px #138a72, 127px 127px #138a72, 128px 128px #138a72, 129px 129px #138a72, 130px 130px #138a72, 131px 131px #138a72, 132px 132px #138a72, 133px 133px #138a72, 134px 134px #138a72, 135px 135px #138a72, 136px 136px #138a72, 137px 137px #138a72, 138px 138px #138a72, 139px 139px #138a72, 140px 140px #138a72, 141px 141px #138a72, 142px 142px #138a72, 143px 143px #138a72, 144px 144px #138a72, 145px 145px #138a72, 146px 146px #138a72, 147px 147px #138a72, 148px 148px #138a72, 149px 149px #138a72, 150px 150px #138a72, 151px 151px #138a72, 152px 152px #138a72, 153px 153px #138a72, 154px 154px #138a72, 155px 155px #138a72, 156px 156px #138a72, 157px 157px #138a72, 158px 158px #138a72, 159px 159px #138a72, 160px 160px #138a72, 161px 161px #138a72, 162px 162px #138a72, 163px 163px #138a72, 164px 164px #138a72, 165px 165px #138a72, 166px 166px #138a72, 167px 167px #138a72, 168px 168px #138a72, 169px 169px #138a72, 170px 170px #138a72, 171px 171px #138a72, 172px 172px #138a72, 173px 173px #138a72, 174px 174px #138a72, 175px 175px #138a72, 176px 176px #138a72, 177px 177px #138a72, 178px 178px #138a72, 179px 179px #138a72, 180px 180px #138a72, 181px 181px #138a72, 182px 182px #138a72, 183px 183px #138a72, 184px 184px #138a72, 185px 185px #138a72, 186px 186px #138a72, 187px 187px #138a72, 188px 188px #138a72, 189px 189px #138a72, 190px 190px #138a72, 191px 191px #138a72, 192px 192px #138a72, 193px 193px #138a72, 194px 194px #138a72, 195px 195px #138a72, 196px 196px #138a72, 197px 197px #138a72, 198px 198px #138a72, 199px 199px #138a72, 200px 200px #138a72;
  }

  span{
    font-weight: 300;
  }

  .nav-icon{
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    height: 52px;
    line-height: 50px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 52px;
    margin-top: -8px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  &:hover{
    i{
      text-shadow: 0px 0px #107360, 1px 1px #107360, 2px 2px #107360, 3px 3px #107360, 4px 4px #107360, 5px 5px #107360, 6px 6px #107360, 7px 7px #107360, 8px 8px #107360, 9px 9px #107360, 10px 10px #107360, 11px 11px #107360, 12px 12px #107360, 13px 13px #107360, 14px 14px #107360, 15px 15px #107360, 16px 16px #107360, 17px 17px #107360, 18px 18px #107360, 19px 19px #107360, 20px 20px #107360, 21px 21px #107360, 22px 22px #107360, 23px 23px #107360, 24px 24px #107360, 25px 25px #107360, 26px 26px #107360, 27px 27px #107360, 28px 28px #107360, 29px 29px #107360, 30px 30px #107360, 31px 31px #107360, 32px 32px #107360, 33px 33px #107360, 34px 34px #107360, 35px 35px #107360, 36px 36px #107360, 37px 37px #107360, 38px 38px #107360, 39px 39px #107360, 40px 40px #107360, 41px 41px #107360, 42px 42px #107360, 43px 43px #107360, 44px 44px #107360, 45px 45px #107360, 46px 46px #107360, 47px 47px #107360, 48px 48px #107360, 49px 49px #107360, 50px 50px #107360, 51px 51px #107360, 52px 52px #107360, 53px 53px #107360, 54px 54px #107360, 55px 55px #107360, 56px 56px #107360, 57px 57px #107360, 58px 58px #107360, 59px 59px #107360, 60px 60px #107360, 61px 61px #107360, 62px 62px #107360, 63px 63px #107360, 64px 64px #107360, 65px 65px #107360, 66px 66px #107360, 67px 67px #107360, 68px 68px #107360, 69px 69px #107360, 70px 70px #107360, 71px 71px #107360, 72px 72px #107360, 73px 73px #107360, 74px 74px #107360, 75px 75px #107360, 76px 76px #107360, 77px 77px #107360, 78px 78px #107360, 79px 79px #107360, 80px 80px #107360, 81px 81px #107360, 82px 82px #107360, 83px 83px #107360, 84px 84px #107360, 85px 85px #107360, 86px 86px #107360, 87px 87px #107360, 88px 88px #107360, 89px 89px #107360, 90px 90px #107360, 91px 91px #107360, 92px 92px #107360, 93px 93px #107360, 94px 94px #107360, 95px 95px #107360, 96px 96px #107360, 97px 97px #107360, 98px 98px #107360, 99px 99px #107360, 100px 100px #107360, 101px 101px #107360, 102px 102px #107360, 103px 103px #107360, 104px 104px #107360, 105px 105px #107360, 106px 106px #107360, 107px 107px #107360, 108px 108px #107360, 109px 109px #107360, 110px 110px #107360, 111px 111px #107360, 112px 112px #107360, 113px 113px #107360, 114px 114px #107360, 115px 115px #107360, 116px 116px #107360, 117px 117px #107360, 118px 118px #107360, 119px 119px #107360, 120px 120px #107360, 121px 121px #107360, 122px 122px #107360, 123px 123px #107360, 124px 124px #107360, 125px 125px #107360, 126px 126px #107360, 127px 127px #107360, 128px 128px #107360, 129px 129px #107360, 130px 130px #107360, 131px 131px #107360, 132px 132px #107360, 133px 133px #107360, 134px 134px #107360, 135px 135px #107360, 136px 136px #107360, 137px 137px #107360, 138px 138px #107360, 139px 139px #107360, 140px 140px #107360, 141px 141px #107360, 142px 142px #107360, 143px 143px #107360, 144px 144px #107360, 145px 145px #107360, 146px 146px #107360, 147px 147px #107360, 148px 148px #107360, 149px 149px #107360, 150px 150px #107360, 151px 151px #107360, 152px 152px #107360, 153px 153px #107360, 154px 154px #107360, 155px 155px #107360, 156px 156px #107360, 157px 157px #107360, 158px 158px #107360, 159px 159px #107360, 160px 160px #107360, 161px 161px #107360, 162px 162px #107360, 163px 163px #107360, 164px 164px #107360, 165px 165px #107360, 166px 166px #107360, 167px 167px #107360, 168px 168px #107360, 169px 169px #107360, 170px 170px #107360, 171px 171px #107360, 172px 172px #107360, 173px 173px #107360, 174px 174px #107360, 175px 175px #107360, 176px 176px #107360, 177px 177px #107360, 178px 178px #107360, 179px 179px #107360, 180px 180px #107360, 181px 181px #107360, 182px 182px #107360, 183px 183px #107360, 184px 184px #107360, 185px 185px #107360, 186px 186px #107360, 187px 187px #107360, 188px 188px #107360, 189px 189px #107360, 190px 190px #107360, 191px 191px #107360, 192px 192px #107360, 193px 193px #107360, 194px 194px #107360, 195px 195px #107360, 196px 196px #107360, 197px 197px #107360, 198px 198px #107360, 199px 199px #107360, 200px 200px #107360;
    }
  }
}
header{
  
}
.navbar{
  line-height: 54px;
  padding: 0 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  

  a{
    color: #333!important;
    letter-spacing: 0.5px;
  }
  .nav-item{
    padding-left: 5px;
    padding-right: 5px;
    &.dropdown{
      margin-right: 15px;
      border-right: 1px solid #ddd;
      
      a{
        color: #333;
        font-size: 12px;
      }

      i{
        vertical-align: 1px;
        margin: 0 5px 0 5px;
      }

      &:hover{
        background: #efefef;
      }

      .dropdown-toggle::after{
        display: none;
      }
    }
  }
  li{
    display: block;
    height: auto;
    border-left: solid 1px #ddd;
    height: 100%;


    &:hover{
      background: #efefef;
    }

    a{
      font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
      font-weight: 500;
      letter-spacing: 0.5px;
      font-size: 12px;
      color: #ddd;
      
    }
  }

  .dropdown-menu{
    line-height: 25px;
    padding: 0;
    border-radius: 0 0 1px 1px;
    text-transform: capitalize;

    .active{
      background: #eeeeee;
      font-weight: bold;
      color: #2a3744;
    }
  }

  .btn-event{
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding: 15px 25px;
    background-color: #2ECC71;
    border-color: #2ECC71;
    letter-spacing: 0.5px;

    &:hover{
      background-color: #25a25a;
      border-color: #239a55;
    }
  }
}

#bg-intro {
  position: relative;
  .owl-carousel {
    text-align: center;
    cursor: default;
    .owl-wrapper{
      height: 600px;
    }
    .owl-wrapper-outer{
      height: 600px;
    }
  }

  #owl-main {
    .item {
      background-color: #FFF;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      
      img{
        background-size: cover;
        background-position: center;
        width: 100%;
      }
    }
  }  

  .inner-intro{
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    margin: auto;
    color: #fff;
  }

  p{
    padding: 0 0 5px 0;
    color: #fcfcfc5e;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

  h1{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 0;
  }

  .search-row{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 0;
    height: 48px;
    margin-bottom: 0;

    .search-col{
      padding: 0;
      position: relative;

      &:first-child{
        .form-control{
          border-radius: 3px 0 0 3px;
        }
        
      }
    }

    i{
      color: #949494;
      font-size: 18px;
      left: 8px;
      position: absolute;
      top: 11px;
      line-height: 25px;
    }
  }

  .form-control{
    height: 100%;
    border: 0;
    border-radius: 0;
    padding-left: 35px;

    &:focus{
      box-shadow: unset;
    }
    
  }

  .btn-search{
    height: 100%;
    width: 100%;
    border-radius: 0 3px 3px 0;
    background: linear-gradient(158deg, #16A085 44%, #2ECC71 85%);
    transition: all 0.25s linear;
    display: inline-block;
    border-color: transparent;
    box-shadow: unset;
    letter-spacing: 0.2em;
    font-weight: bold;
    color: #fff;
    font-size: 12px;

    &:focus{
      box-shadow: unset;
    }

    &:hover{
      opacity: 0.9;
    }
  }
}

// ============== Event Featured ==============

.event-featured{
  padding-top: 60px;
  padding-bottom: 60px;

  

    .card-event{
      position: relative;
      
      img{
        border-radius: 0.25em 0.25em 0 0;
      }

      &:hover{
        cursor: default;
        .event-hover{
          visibility: visible!important;
          opacity: 1!important;
        }

        .event-pop-info{
          transform: translateY(75%)!important;
        }

        .event-badge{
          transform: translateY(-20%)!important;
          
        }
      }
      .card-top{
        border-radius: 4px;
        position: relative;

        .event-hover{
          position: absolute;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.8);
          height: 100%;
          visibility: hidden;
          transition: all 0.4s ease;
          opacity: 0;
          display: block;
          transition: all 0.25s ease 0.15s;
          color: #fff;

          .event-badge{
            position: absolute;
            top: 15px;
            right: 15px;
            transform: translateY(5%);
            transition: all 0.3s ease 0.1s;
            

            .badge{
              font-weight: lighter;
              letter-spacing: 0.3px;
              font-family: "Roboto", Helvetica, Arial, sans-serif;
              border-radius: 2px;
            }
          }
        
          .event-pop-info{
            position: absolute; 
            top: -10%;
            text-align: center;
            width: 100%;
            transform: translateY(65%);
            transition: all 0.3s ease 0.15s;
            
            p{
              display: block;
              margin-bottom: 5px;
            }

            .price{
              font-size: 1.4rem;
              font-weight: bold;
            }

            .time{
              font-size: 12px;
              font-weight: 300;
              opacity: 0.7;
            }
          }  
        }
      }
      
      .card-bottom{
        padding: 20px 15px;

        h4{
          font-size: 16px;
          line-height: 20px;
          color: #292b2c;
          font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
          font-weight: 700;
        }
      }
    }
  }
  
// ============== Explore Event ==============

.explore-event{
  padding: 0 0 60px 0;

  h2{
    line-height: 1.5  ;
  }

  .event-filter-wrap{
    display: flex;
    justify-content: flex-end;

    .btn{
      background: #eee;
      cursor: default;
      width: 100%;
      border: 0;

      &:focus{
        box-shadow: unset;
      }

      &.btn-group{
        padding: 0;
      }
    }

    .btn-filter{
      text-transform: uppercase;
      letter-spacing: 1.1px;
      color: #000;
      font-weight: bold;
      line-height: 20px;
      font-size: 0.65rem;
      background: none;
      border-radius: 0;
      border: 1px solid #ccc;
      margin-left: 8px;
      text-align: center;
      width: 100%;
      cursor: pointer;

      &:hover{
        color: #292b2c;
        background-color: #e6e5e5;
        border-color: #adadad;
      }
    }
    .dropdown-menu{
      width: 100%;
      clear: both;
      text-align: left;
      white-space: nowrap;
      background-color: #fff;
      border: 0;
      padding: 0.25rem 1.5rem;

      a{
        font-size: 13px;
        color: #292b2c;
      }

      li{
        &:hover{
          width: 100%;
          background-color: #f7f7f9;
        }
      }
      
    }
      

  }

  img{
    border-radius: 0.25em 0.25em 0 0;
    position: relative;
    background-size: cover;
  }

  .btn-more{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    line-height: 32px;
    font-size: 0.75rem;
    padding: 10px 40px;
    background-color: #fff;
    border-color: #ccc;
  }

  .event-item{
    margin-bottom: 30px;
    &:hover{
      cursor: default;
      .event-hover{
        visibility: visible!important;
        opacity: 1!important;
        .event-badge{
          opacity: 1;
          transform: translateY(0%)!important;
        }
        .event-pop-info{
          transform: translateY(0%)!important;
        }
      }

      .event-badge{
        opacity: 0;
      }

      // .event-pop-info{
      //   transform: translateY(75%)!important;
      // }

      // .event-badge{
      //   transform: translateY(-20%)!important;
        
      // }
    }
    .card-top{
      position: relative;
      .event-badge{
        position: absolute;
        top: 25px;
        right: 15px;
        font-size: 16px;
        font-weight: 600;
        background: #f3f3f3;
        line-height: 1;
        color: #000;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        padding: 3px 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0.15em;
        transition: all 0.3s ease;
      }
  
      .event-hover{
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100%;
        visibility: hidden;
        transition: all 0.4s ease;
        opacity: 0;
        display: block;
        transition: all 0.25s ease 0.15s;
        color: #fff;
        z-index: 5;

        .event-badge{
          background: transparent;
          font-weight: lighter;
          letter-spacing: 0.3px;
          font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
          padding: 3px 6px;
          border-radius: 2px;
          transform: translateY(50%);
          transition: all 0.5s ease;
        }

        .event-pop-info{
          margin-top: 18%;
          transform: translateY(-50%);
          transition: all 0.5s ease;
        }

        .price{
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }
    
    .card-body{ 
      h5{
        min-height: 48px;
        line-height: 24px;
        font-size: 18px;
        font-weight: 700;
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
      }
  
      .card-location, .card-time{
        margin-bottom: 5px;
        color: #999999;
  
        i{
          margin-right: 5px;
        }
      }
    }
  
    .card-footer{
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02) inset;
      background-color: rgba(0, 0, 0, 0.01);
  
      .float-left{
        font-size: 12px;
        color: #999999;
        b{
          color: #464a4c;
          font-weight: 600;
        }
      }
  
      .float-right{
        
        
        i{
          font-size: 16px;
          color: #464a4c;
          margin: 0 3px;
  
          &:hover{
            color: #999;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// ============== Category ==============

.category{
  padding-bottom: 60px;

  .category-item{
    position: relative;
    margin-bottom: 30px;

    img{
      border-radius: 0.25em;
      max-height: 159px;
      background-size: cover;
      width: 100%;
    }
    

    &:hover{
      cursor: pointer;
      .overlay{
        background: rgba(0, 0, 0, 0.5);
      }
  
      h5{
        transform: scale(1.1);
      }
    }
  }
  
  .overlay{
    background: rgba(0, 0, 0, 0.3 );
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    h5{
      margin-top: 30%;
      z-index: 5;
      color: #fff;
      font-size: 1.3rem;
      letter-spacing: 0.5px;
      transition: all 0.3s ease;
    }
  }
}

// ============== info ==============

.info{
  background-image: url("../images/bg.jpg");
  min-height: 94px;
  width: 100%;

  &:after{
    background: rgba(0, 0, 0, 0.3 );
  }
  
  .bg-overlay{
    padding: 60px 0;
  }

  .info-item{
    i{
      font-size: 36px;
      color: #22e1bb;
      display: inline-block;
      margin-right: 10px;
      vertical-align: 15px;
    }
    .wrap-text-info{
      display: inline-block;
      padding-left: 10px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);

      h5{
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        padding-bottom: 0;
        color: #fff;
      }

      span{
        color: #aaa;
        font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        margin-right: 35px;
      }
    }
  }
}

// ============== page-bottom ==============
  .page-bottom{
    color: #fff;
    background: -webkit-linear-gradient(292deg, #16A085 44%, #2ECC71 85%) no-repeat 0 0 #16A085;
    background: -moz-linear-gradient(292deg, #16A085 44%, #2ECC71 85%) no-repeat 0 0 #16A085;
    background: -o-linear-gradient(292deg, #16A085 44%, #2ECC71 85%) no-repeat 0 0 #16A085;
    background: linear-gradient(158deg, #16A085 44%, #2ECC71 85%) no-repeat 0 0 #16A085;
    padding: 75px 0;

    .page-bottom-content{
      max-width: 900px;
      margin: 0 auto;
    }

    h1{
      font-size: 30px;
      line-height: 35px;
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 15px;
    }

    .btn-primary-dark{
      color: #fff;
      background-color: #107360;
      font-size: 1rem;

      &:hover{
        background-color: #138a72;
        border-color: #12856f;
      }

      i{
        font-size: 18px;
        margin-right: 10px;
      }

      span{
        
        opacity: 0.5;
      }
    }
}

// ============== footer ==============

footer{
  padding: 40px 0;

  .footer-title{
    color: #000;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
  }

  ul{
    li{
      padding: 0;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  .footer-social{
    li{
      width: 28px;
      height: 28px;
      display: inline;
      margin-right: 10px;
      a{
        color: #fff;
        font-size: 14px;
        width: 28px;
        display: inline-block;
        text-align: center;  
      }

      .icon-color{
        padding: 3px 0;
        &.fb{
        background: #3b5998;
        }
        &.tw{
          background: #55acee;
        }
        &.gp{
          background: #dd4b39;
        }
        &.in{
          background: #007bb5;
        }
        &.pin{
          background: #cb2027;
        }

        &:hover{
          opacity: 0.7;
        }
      }
    }
  }

  .payment-method{
    margin-top: 20px;
    margin-bottom: 20px;
    img{
      height: 30px;
      padding-left: 10px;
    }
  }

  .copyright{
    display: block;
    font-size: 11px;
    margin-top: 10px;
    padding-left: 0;
  }
}